<!DOCTYPE html>
<html>
    <%- include('components/head'); -%>
    <body style="background-color: #f6f7f9;">
        <div>
            <img src="https://firebasestorage.googleapis.com/v0/b/oauth2-c28ca.appspot.com/o/exclasion_mark.png?alt=media&token=34b94e16-eecc-4cfb-8f23-b7be7162a350" width="60px" height="auto" style="display: block; margin: auto;"/>
        </div>
        <div style="text-align: center;">
            <h1> <%= out.error.split('_').map(x => x[0].toUpperCase() + x.slice(1)) .join(' ') %> </h1>
            <p> <%= out.error_description %> </p>
        </div>
</html>