<!DOCTYPE html>
<html>
  <%- include('components/head'); -%>
  <body>
    <div class="container">
        <h1>Account Activated</h1>
        <div class="container-emailIcon">
          <i class="fa-solid fa-envelope-circle-check emailIcon"></i>
        </div>
        <div class="content">
          <h2 class="title">Your email address has been verified</h2>
        </div>
      </div>
  </body>
</html>
